body {
	margin: 0;
}

.game {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: aliceblue;
}

.game__scene {
	width: 1200px;
	height: 672px;
	background: white;
}